.animated {
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
@-webkit-keyframes slideInDown {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-2000px);
        transform: translateY(-2000px);
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes slideInDown {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-2000px);
        -ms-transform: translateY(-2000px);
        transform: translateY(-2000px);
    }

    100% {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
}

.slideInDown {
    -webkit-animation-name: slideInDown;
    animation-name: slideInDown;
}
@-webkit-keyframes slideOutUp {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        -webkit-transform: translateY(-2000px);
        transform: translateY(-2000px);
    }
}

@keyframes slideOutUp {
    0% {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        -webkit-transform: translateY(-2000px);
        -ms-transform: translateY(-2000px);
        transform: translateY(-2000px);
    }
}

.slideOutUp {
    -webkit-animation-name: slideOutUp;
    animation-name: slideOutUp;
}

body {
    background: #b7feee;
    /*background: url("b.jpg") no-repeat;*/
    background-size:cover;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: center;
    font-family: monospace;
}
header{
    height: 40px;
    position: fixed;
    position: fixed;
    z-index: 995;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(34, 34, 34,0.7);
    display: table;
    background-image: -webkit-gradient(linear,left 0,left 100%,from(#fff),to(#f8f8f8));
    background-image: -webkit-linear-gradient(top,#fff,0%,#f8f8f8,100%);
    background-image: -moz-linear-gradient(top,#fff 0,#f8f8f8 100%);
    background-image: linear-gradient(to bottom,#fff 0,#f8f8f8 100%);
    background-repeat: repeat-x;
    border-radius: 4px;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff',endColorstr='#fff8f8f8',GradientType=0);
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.15),0 1px 5px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.15),0 -4px 10px rgba(0,0,0,1.1);
    background-color: #f8f8f8;
    border-color: #e7e7e7;
}
.msweep-text-onload{
    width: 27px;
    height: 27px;
    margin: 2px;
    background-color:#0BCEFA;
    border: 2px solid  	#FFFACD;
    border-style: ridge;
    cursor: pointer;
    border-radius: 8px;
    cursor: pointer;
}
.div-center{
    position: relative;
    display: inline-block;
    /*background: rgba(254,243,182,0.2);*/
    background: rgba(255,255,255,0.5);
    padding: 5px;
    top: 50px;
    margin-bottom:10px;
}

.msweep-text-after-click{
    width: 27px;
    height: 27px;
    margin: 2px;
    background-color: #45FA3C;
    border: 2px solid  	#FFFACD;
    border-style: ridge;
    cursor: pointer;
    border-radius: 8px;
    cursor: pointer;
}
.button-placeholder{
  text-align: center;
    position: relative;
    top: 50px;
}
#reset-button{
  width: 150px;
  background-color: #B6F3FE;
  height:40px;
}
#error-display{
  color: red;
font-size: 15px;
font-weight: bolder;
    position: fixed;
    top: 150px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    padding: 10px;
    background: rgba(0,0,0,0.8);
    display: none;
}
.game-options{
    position: fixed;
    top: 150px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    display: block;
    padding: 20px;
    background: rgba(0,0,0,0.9);
    color: white;
}
.counter-section{
    margin: 8px 0px;
    text-decoration: none;
}
.counter-section span{
    color: white;
    padding: 5px;
    background: grey;
    border-radius: 8px;
    padding: 5px 9px;
}
.reduce-index{
    z-index: -1;
}
.play-again{
    display: inline;
    cursor: pointer;
}
.modal-body{
    top: 55px;
    position: fixed;
    display: none;
    color: white;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    right: 0;
    left: 0;
    height: auto;
    z-index: 9999;
    /*background: rgba(255,255,255,0.1);*/
    background: rgba(0,0,0,0.3);
}
.close-modal{
    position: absolute;
    right: 6px;
    top: 5px;
    font-size: 17px;
    padding: 0px 8px 1px 8px;
    /*background: lightseagreen;*/
    background: dimgrey;
    border-radius: 8px;
    cursor: pointer;
}
